<div class="container">
    <header id="header" 
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <span class="d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none">
            <strong>LMs-as-KBs</strong>
        </span>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="https://arxiv.org/abs/2204.06031" class="nav-link px-2 link-dark">Survey Paper</a></li>
            <li><a href="#papers" class="nav-link px-2 link-dark">Paper List</a></li>
            <li><a href="#models-tasks" class="nav-link px-2 link-dark">Models & Tasks</a></li>
            <li><a href="https://github.com/BKHMSI/lms-as-kbs/edit/main/README.md#cite" class="nav-link px-2 link-dark">Cite</a></li>
        </ul>

        <ul class="nav col-md-2 text-end">
        <strong>Updated</strong>: 10 March 2022
        </ul>
    </header>
</div>