<div id="papers" class="container col-xxl-8 px-4 py-3">
    <div class="row flex-lg-row-reverse align-items-center">
        <h2><i class="fa fa-book"></i> Suggested Readings</h2>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="table">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th class="th-sm">Aspect</th>
                            <th class="th-sm">Readings</th>
                            <th class="th-sm">Updated Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Access</strong></td>
                            <td>
                                <ol>
                                    <li *ngFor="let paper of list['access']">
                                        <a href="{{paper.url}}"> {{paper.title}} </a>
                                    </li>
                                </ol>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td><strong>Consistency</strong></td>
                            <td>
                                <ol>
                                    <li *ngFor="let paper of list['consistency']">
                                        <a href="{{paper.url}}"> {{paper.title}} </a>
                                    </li>
                                </ol>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td><strong>Edit</strong></td>
                            <td>
                                <ol>
                                    <li *ngFor="let paper of list['edit']">
                                        <a href="{{paper.url}}"> {{paper.title}} </a>
                                    </li>
                                </ol>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td><strong>Reasoning</strong></td>
                            <td>
                                <ol>
                                    <li *ngFor="let paper of list['reasoning']">
                                        <a href="{{paper.url}}"> {{paper.title}} </a>
                                    </li>
                                </ol>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td><strong>Interpretability</strong></td>
                            <td>
                                <ol>
                                    <li *ngFor="let paper of list['interpretability']">
                                        <a href="{{paper.url}}"> {{paper.title}} </a>
                                    </li>
                                </ol>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td><strong>Explainability</strong></td>
                            <td>
                                <ol>
                                    <li *ngFor="let paper of list['explainability']">
                                        <a href="{{paper.url}}"> {{paper.title}} </a>
                                    </li>
                                </ol>
                            </td>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row flex-lg-row-reverse align-items-center">
        <h2><i class="fa fa-book"></i> Additional Readings</h2>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="table">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th class="th-sm">Models</th>
                            <th class="th-sm">Readings</th>
                            <th class="th-sm">Updated Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Models</strong></td>
                            <td>
                                <ol>
                                    <li *ngFor="let paper of list['models']">
                                        <a href="{{paper.url}}"> {{paper.title}} </a>
                                    </li>
                                </ol>
                            </td>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>