<div class="container col-xxl-8 px-4 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-5">
        <img src="assets/background.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Badr AlKhamissi" loading="lazy">

        <!-- <ul class="" style="list-style-type: none;">
            <li><a href="https://github.com/BKHMSI" class="nav-link"><i class="fab fa-github" style="font-size: 1.7rem"></i></a></li>
            <li><a href="https://linkedin.com/in/bkhmsi" class="nav-link"><i class="fab fa-linkedin" style="font-size: 1.7rem"></i></a></li>
            <li><a href="https://twitter.com/bkhmsi" class="nav-link"><i class="fab fa-twitter" style="font-size: 1.7rem"></i></a></li>
            <li><a href="mailto:badr@khamissi.com" class="nav-link"><i class="fas fa-envelope" style="font-size: 1.7rem"></i></a></li>
        </ul> -->
    </div>
</div>

