<div class="container col-xxl-8 px-4 py-3">

    <div class="row flex-lg-row-reverse align-items-center g-5">

        <h2 class="center title">A Review on Language Models as Knowledge Bases</h2>

        <h5 class="authors">
            <ul>
                <li><a href="https://bkhmsi.github.io/portfolio/">Badr AlKhamissi</a>,</li>
                <li><a href="https://millicentli.github.io">Millicent Li</a>,</li>
                <li><a href="http://asli.us">Asli Celikyilmaz</a>,</li>
                <li><a href="https://scholar.google.com/citations?user=-y6SIhQAAAAJ&hl=en">Mona Diab</a>,</li>
                <li><a href="https://ai.facebook.com/people/marjan-ghazvininejad/">Marjan Ghazvininejad</a></li>
            </ul>
        </h5>

        <div class="center pages">
            <ul>
                <li><a href="https://github.com/BKHMSI"><i class="fa fa-github" style="font-size: 2em"></i></a></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a href="https://github.com/BKHMSI"><i class="fa fa-book" style="font-size: 2em"></i></a></li>
            </ul>
        </div>

        <img src="assets/background.jpg" class="d-block mx-lg-auto img-fluid" style="margin-top:-40px; z-index: -1000;" alt="LMs-as-KBs" loading="lazy">

    </div>
</div>

