<div class="container col-xxl-8 px-4 py-3">

    <div class="row flex-lg-row-reverse align-items-center g-5">

        <h2 class="center title">A Review on Language Models as Knowledge Bases</h2>

        <h5 class="authors">
            <ul>
                <li><a href="https://bkhmsi.github.io/portfolio/">Badr AlKhamissi</a>*,</li>
                <li><a href="https://millicentli.github.io">Millicent Li</a>*,</li>
                <li><a href="http://asli.us">Asli Celikyilmaz</a>,</li>
                <li><a href="https://ai.facebook.com/people/marjan-ghazvininejad/">Marjan Ghazvininejad</a><sup>✝</sup>,</li>
                <li><a href="https://scholar.google.com/citations?user=-y6SIhQAAAAJ&hl=en">Mona Diab</a><sup>✝</sup></li>
            </ul>
        </h5>

        <div class="center pages">
            <ul>
                <li><a href="https://github.com/BKHMSI/lms-as-kbs"><i class="fa fa-github" style="font-size: 2em"></i></a></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li><a href="https://github.com/BKHMSI/lms-as-kbs"><i class="fa fa-book" style="font-size: 2em"></i></a></li>
            </ul>
        </div>

        <img src="assets/background.jpg" class="d-block mx-lg-auto img-fluid" style="margin-top:-40px; z-index: -1000;" alt="LMs-as-KBs" loading="lazy">

        <hr>

        <h4 class="center title">Abstract</h4>
        <div class="col-8 abstract">
            Recently, there has been a surge of interest in the NLP community on the use of pretrained Language Models (LMs) as Knowledge Bases (KBs). It has been shown that LMs trained on a sufficiently large (web) corpus will encode a significant amount of knowledge implicitly in its parameters. The resulting LM can then be probed for different kinds of knowledge and thus acting as a KB. This has several advantages over traditional KBs in that this method requires no human supervision. In this paper, we propose a set of aspects that we deem a LM should have to fully act as a KB, and review the recent literature with respect to those aspects.
        </div>

        <hr>

    </div>
</div>

